# System files
.DS_Store
.Rproj.user
.Rhistory
.RData

# Large Data Files
# *.rds
*.RData
*.csv
*.rdata

# Enforce tracking of specific folders
!data/.gitkeep
!output/.gitkeep
!plots/.gitkeep

# Ignore playground
playground/
